<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} APS panel {% endblock %}</title>

	<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/estilos.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/Tabs.js"></script>
	<script src="{{ STATIC_URL }}js/tabs.js"></script>
	
	
	{% block css %} {% endblock %}
	{% block js %} {% endblock %}
</head>
<body>
	<input id="tab-selected" type="hidden" value="{{ tab_selected }}">

	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
	      	<div class="container">
	        	<div class="navbar-header">
		          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
	          		</button>
	          		<a class="navbar-brand title" href="{% url 'panel' %}">APS</a>
	        	</div>
	        	<div class="collapse navbar-collapse">
	          		<ul id="nav" class="nav navbar-nav">
			            <li id="panel"><a href="{% url 'panel' %}">Home</a></li>
			            <li id="about"><a href="{% url 'about' %}">About</a></li>
			            <li><a href="#contact">Contact</a></li>
	          		</ul>
	        	</div><!--/.nav-collapse -->
	      	</div>
	    </div>
	    <div class="page">
			{% block body %} {% endblock %}
		</div>
	</div>
</body>
</html>