{% extends 'base.html' %}

{% block js %}
	<script src="{{ STATIC_URL }}js/Cronometer.js"></script>
	<script src="{{ STATIC_URL }}js/Projects.js"></script>
	<script src="{{ STATIC_URL }}js/Tasks.js"></script>
{% endblock %}

{% block body %} 

	<div class="row">
		<div id="proyectos" class="col-md-4"></div>
		
		<div id="tareas" class="col-md-4"></div>
		
		<div id="cronometro" class="col-md-4">
				
			<h5 id="current_task" class="well"></h5>
			
			<h1 class="well">
				<span id="hours" class="label">0</span> :
				<span id="minutes" class="label">0</span> :
				<span id="seconds" class="label">0</span>

				<div class="btn-group-vertical">
					<span id="btn_play_id" class="btn btn-primary">Play</span>
					<span id="btn_pause_id" class="btn btn-primary">Pause</span>
					<span id="btn_stop_id" class="btn btn-primary">Stop</span>	
				</div>
			</h1>

			<div id="intervalos"></div>		
		</div>
	</div>
	

{% endblock %}