{% extends 'base.html' %}

{% block js %}
	<script src="{{ STATIC_URL }}js/Cronometro.js"></script>
	<script src="{{ STATIC_URL }}js/panel.js"></script>
	<script src="{{ STATIC_URL }}js/formProject.js"></script>
	<script src="{{ STATIC_URL }}js/formTask.js"></script>
{% endblock %}

{% block body %} 

	<!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
	        <div id="projects_wrapper">
				<button id="btn_show_project_form" class="btn btn-block btn-success">Add Project</button>

				<div id="project_form_wrapper">
					<button id="btn_close_project_form" class="btn_close btn-danger">&times;</button>
					
					<div class="well">
						<input id="nombre" class="form-control" type="text" 
						placeholder="Nombre">
						
						<textarea id="descripcion" class="form-control" rows="3" placeholder="Descripcion"></textarea>

						<input id="fecha_inicio" class="form-control" type="date" placeholder="Fecha de Inicio">

						<select id="estado" class="form-control">
							<option value="no_iniciada">No iniciada</option>
							<option value="en_proceso">En proceso</option>
							<option value="suspendida">Suspendida</option>
							<option value="finalizada">Finalizada</option>
						</select>
						
						<input id="btn_add_project" class="btn btn-success btn-block" type="submit" value="Add">
					</div>
					

				</div>

				<div id="projects_container" class="well">

					{% for p in proyectos %}
						<div id="{{ p.id }}">{{ p.nombre|capfirst }}</div>
					{% empty %}
						<div>
							<h4>
								No hay proyectos.
							</h4>
						</div>
					{% endfor %}
					
				</div>
			</div>
        </div>
        <div class="col-lg-4">
          	<div id="tasks_wrapper">
				<button id="btn_show_task_form" class="btn btn-block btn-success">Add Task</button>

				<div id="task_form_wrapper">
					<button id="btn_close_task_form" class="btn_close btn-danger">&times;</button>

					<div class="well">
						<input id="task_nombre" class="form-control" type="text" placeholder="Nombre">
						<textarea id="task_descripcion" class="form-control" rows="3" placeholder="Descripcion"></textarea>
						<select id="task_responsable" class="form-control"></select>
						<input id="task_fecha_inicio" class="form-control" type="date" placeholder="Fecha de Inicio">
						<input id="task_tiempo_estimado" class="form-control" type="text" placeholder="Tiempo Estimado">
						<select id="task_estado" class="form-control">
							<option value="no_iniciada">No iniciada</option>
							<option value="en_proceso">En proceso</option>
							<option value="suspendida">Suspendida</option>
							<option value="para_testear">Para Testear</option>
							<option value="para_retome">Para Retome</option>
							<option value="finalizada">Finalizada</option>
						</select>
						<input id="btn_add_task" class="btn btn-block btn-success" type="submit" value="Add">
					</div>
					
				</div>

				<div id="tasks_container" class="well">

				</div>	
			</div>

       	</div>
        <div class="col-lg-4">
          	<div id="cron">
	
				<div id="time">
					<span id="hours"></span>:
					<span id="minutes"></span>:
					<span id="seconds"></span>
				</div>
				<button id="btn_play">Play</button>
				<button id="btn_pause">Pause</button>
				<button id="btn_stop">Stop</button>

				<textarea id="desc"></textarea>
				<button id="btn_send">Enviar</button>
				
			</div>
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
    	<p>© Company 2013</p>
    </div>
		
    

{% endblock %}