#projects_container > div, #tasks_container > div {
	border-bottom: solid 1px white;
	font-size: 17px;
}

.APS-active-tab {
	border-bottom: solid 2px grey;
	color: black;
}

.APS-tab-hover-on {
	color: white;
	background-color: black;
}

.btn_close {
	float: right;
}

.page {
	padding: 70px 15px;
	text-align: center;
}

.title {
	color: white !important;
}
